.navbar{
    background-color: rgb(13, 13, 54);
    color: aliceblue;
    padding: 10px 20px;
}
 
.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
 
.logo{
    display: inline-block;
    margin-right: auto;
}
 
img{
    width: 50px;
    height: auto;
}